<div *ngIf="product.title" class="card" >
    <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" alt="{{ product.title }}">
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">{{ product.price | currency:'USD':'symbol-narrow' }}</p>
      <!-- Angular v5 uptaded this way of currency pipe-->
      
    </div>
    <div class="card-footer"><a href="#" class="btn btn-primary btn-block" *ngIf="showActions">Add to Cart</a></div>
  </div>